
---
---
---

{{! O valor que vai na frente  do  método  muda  dependendo  da
condição do método:
Caso seja um método público, fica com (Public)
Caso seja um método privado, fica com (Private)
Caso seja um método construtor, fica com (Constructor, __init__)
}}
## {{name}} (ifpublicmethod{Public}{ÒR}ifprivatemethod{ifPrivate}{OR}ifconstructor{Constructor, __init__})
---
---
{{! Se for um método construtor, recebe construtor na frente de
'Método' }}
Método ifconstructor{construtor} {{descriptionPlaceholder}}
{{! Parameters }}
{{#parametersExist}}

### Args
---
{{/parametersExist}}
{{! Args }}
{{#args}}
- {{var}} ({{typePlaceholder}}, optional, default = {{&default}}):
    - {{descriptionPlaceholder}}
{{/args}}
{{! KWArgs }}
{{#kwargs}}
- {{var}} ({{typePlaceholder}}, ifoptional{optional}, default = {{&default}}):
    - {{descriptionPlaceholder}}
{{/kwargs}}
{{! Returns }}
{{#returnsExist}}
{{#returns}}

### Returns
---
    {{typePlaceholder}}: {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}

---
---
---
