
---
---
---

{{! Nome do pacote e o direcionamento até ele }}
## Package: pdfconverter >> [packagename]
---
---
{{! Caso o módulo seja um construtor do pacote usa  o  nome  do
módulo, caso contrário usa o nome do último pacote}}
### Module Name: {ifnotconstructor{[modulename]}{OR}ifconstructor{[uselastpackagename]}} ifconstructor{(Constructor, __init__)}
---
{{! Caminho até o pacote }}
### path: "pdfconverter\\\\\\\\\\\\\\\\[packagename]\\\\\\\\\\\\\\\\[modulename].py"
---
---
{{! Descrição do módulo e caso seja um construtor, descrição do
pacote  do  pacote. Caso  seja  um  construtor,   deve   também
apresentar a string 'Pacote e' }}
ifconstructor{Pacote e} módulo {{descriptionPlaceholder}}

---
---
---
