# ARQUIVOS DE EDIÇÃO DO WORD
# -------------------------------------------------------------
# Descrição:
# Pastas de importação e exportação.
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
# Pasta de importação
PDFs/
# Pasta de exportação
resultados/
# Arquivo de saída do terminal
output.txt
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
# -------------------------------------------------------------