# ARQUIVOS DE EDIÇÃO DO WORD
# -------------------------------------------------------------
# Descrição:
# Pastas de importação e exportação.
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
PDFs
resultados
# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
# -------------------------------------------------------------