
---
---
---

## Package: pdfconverter >> [packagename]
---
---
### Module Name: [modulename/ifconstructor[uselastpackagename]] ifconstructor(Constructor, __init__)
---
### path: "pdfconverter\\\\\\\\\\\\\\\\[modulepath]\\\\\\\\\\\\\\\\[file].py"
---
---
ifconstructor(Pacote e) módulo..{{descriptionPlaceholder}}

---
---
---
