
---
---
---

{{! Nome da variável e da sua respectiva classe }}
## {{#placeholder}}[variablename]{{/placeholder}} ({{#placeholder}}[classname]{{/placeholder}})
---
---
{{! Descrição da variável }}
{{descriptionPlaceholder}}

---
---
---
