
---
---
---

{{! Nome da exceção }}
## {{name}}
---
---
{{! Descrição da exceção }}
Exceção {{descriptionPlaceholder}}

### Default Message
---
{{! mensagem que vem por padrão na exceção dentro de seu construtor }}
{{#placeholder}}[defaultexceptionmessage]{{/placeholder}}

---
---
---
